.heading {
    font-size: 30px;
    font-weight: 700;
    margin-left: 300px;
}
.heading span{
    margin-top: 10px;
}
.descritption {
    margin-left: 300px;
}

.descr2{
    margin-left: 260px;
}

.uiux img {
    width: 50px;
    object-fit: cover;
    height: 50px;
}

.website img {
    width: 50px;
    object-fit: cover;
    height: 50px;
}

.appdesign img {
    width: 50px;
    object-fit: cover;
    height: 50px;
}

.about {

    align-items: center;
    justify-content: center;
    text-align: center;
}

.aboutimg {
  
    margin-left: 260px;
    padding: 10px;
    margin-top: 2rem;


}

.uiux {
    background-color: rgb(46, 43, 43);
    display: flex;
    padding: 30px;
    width: 60%;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-left: 250px;

}

.uiux p {
    margin-left: 30px;
}

.website {
    background-color: rgb(46, 43, 43);
    display: flex;
    padding: 30px;
    width: 60%;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-left: 250px;
    margin-top: 2rem;
}

.appdesign {
    background-color: rgb(46, 43, 43);
    display: flex;
    padding: 30px;
    width: 60%;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-left: 250px;
    margin-top: 2rem;
}